#testContainer {
    z-index: 10;
    top: 0;
    position: absolute;
    border: solid 2px rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 15vw;;
}

#testContainer li {
    list-style: none;
    background-color: black;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

#library-toggle:checked + .menu-trigger + .submenu {
  max-height: 300px;
}
