body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

video {
    filter: blur(0px);
    z-index: 0;
    position: absolute;
    top: 0;
    object-fit: cover;
}

img {
    z-index: 0;
    filter: blur(0px);
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#overlay {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    background: radial-gradient(ellipse at 50% 50%, transparent 0%, black 80%);
}